@model LogInViewModel
@{
	ViewData["Title"] = "LogIn";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div class="logo-section" style="text-align:center; margin-bottom:20px;">
			<h2 style="color: #fff; margin-top: 10px;">Management System</h2>
		</div>
		<br />
		<form asp-action="LogIn">
			<div asp-validation-summary="All"></div>
			<input class="text email" asp-for="Email" placeholder="Email" required />
			<span asp-validation-for="Email" class="text-danger"></span>

			<input class="text" asp-for="Password" placeholder="Password" required />
			<span asp-validation-for="Password" class="text-danger"></span>


			<br />
			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" asp-for="RememberMe" class="checkbox" required="">
					<span>Remember Me</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNIN">
		</form>
		<p>Don't have an Account? <a asp-action="Register"> Register Now!</a></p>
		<p>Forget Password? <a asp-action="ForgetPassword"> Reset Password!</a></p>
	</div>
</div>

@section ValidationScript
{
	<partial name="_ValidationScriptsPartial" />
}
