@using Demo.BLL.DTOs.EmployeeDTOs
@using Demo.DAL.Enums
@model EmployeeDetailsDto
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure You Want To Delete This Employee?</h1>
<br />
<br />

<partial name="Partials/DeleteDetailsEmployeePartial" />
