@using Demo.BLL.DTOs.EmployeeDTOs
@using Demo.DAL.Enums

@model EmployeeDetailsDto

@{
    ViewData["Title"] = "Details";
}
<h1>Employee Details</h1>

<partial name="Partials/DeleteDetailsEmployeePartial" />


