@using Demo.BLL.DTOs.EmployeeDTOs
@using Demo.DAL.Enums
@model CreatedEmployeeDto
@{
    ViewData["Title"] = "Edit";
    ViewBag.Action = "Edit";
}

<div class="row justify-content-center align-items-center flex-column">
    <h1 class="col-6 my-1">Edit Employee</h1>
    <br />
    <br />

    @* action="/Department/Create" method="post" => asp-action="Create" *@

    @* <form action="/Department/Create" method="post"></form> *@
    <partial name="Partials/CreateEditEmployeePartial" />


</div>

@section ValidationScript
        {
    <partial name="_ValidationScriptsPartial" />

}